# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CS2_External/x64/Release
/.vs/AimStar/v17
/x64/Release
/.vs/CS2_External
/CS2_External/imgui.ini
/.vs/VSWorkspaceState.json
/CS2_External/Resources/English.h
